@use "./color" as v
@use './_mixins' as mixins
@use './_variables' as variables

.link-button
    font-weight: lighter
    color: v.$white
    padding: 12px 20px
    background: v.$darkblue
    transition: background .3s
    text-decoration: none

.link-button:hover
    background: v.$black

+mixins.respond("lg")
    .link-button:hover
        background: v.$orange
