@use './_color' as v
@use './_mixins' as mixins
@use './_variables' as variables

.second__button
    width: 100%
    text-align: center
    padding: 7px 0px
    border: 2px solid v.$lightBlue
    color: v.$lightBlue
    border-radius: 5px
    transition: all .3s

.second__button:hover
    background: v.$orange
    color: v.$white

+mixins.respond("lg")
    .second__button:hover
        background: none
        color: v.$orange
