@use './base/_color' as v
@use "./base/_font.sass"
@use "./base/_container.sass"
@use "./components/_header.sass"
@use "./components/mainSection"
@use "./base/_linkButton"
@use "./base/_secondaryButton"
@use "./components/sections/_section.sass"
@use "./components/sections/_section-cta"
@use "./components/sections/_section-contacts"
@use "./components/sections/_section-thank"
@use "./components/sections/_section-info"
@use "./components/_form"
@use "./components/_footer"
@use "./components/_product"
@use "./components/_faq"
@use "./components/_contact"
@use "./components/_request"
@use "./base/_variables" as variables

h1,h2,h3,h4,h5,h6,p
    margin: 0
    padding: 0

body
    font-family: variables.$font-roboto
    font-weight: 400
    padding: 0
    margin: 0

input[type="date"]
    appearance: none
    width: 100%

input::placeholder
    color: v.$gray

select
    appearance: none
    width: 100%
    box-sizing: border-box

ul
    list-style: none
    padding: 0
    margin: 0

a
    text-decoration: none
    color: inherit
