@use '../base/_color.sass' as v
@use '../base/_variables.sass'
@use '../base/_mixins.sass'

.header
  padding: 10px 15px
  display: flex
  align-items: center
  // gap: 17px

  &__burger-container, &__phone-menu
    display: none


  &__logo
    display: flex
    align-items: center
    gap: 10px
    flex: 1 0 auto
    padding-right: 50px
    font-size: clamp(1.2rem, 1.0545rem + 0.7273vw, 1.75rem);

  &__adapt
    width: 100%
    display: flex
    align-items: center
    gap: 10px

  &__links
    flex: 1 0 auto

  &__lang
    position: relative
    background-color: v.$lightViolet
    border: 1px solid v.$lightViolet
    border-radius: 10px

  &__select
    background-color: v.$lightViolet
    padding: 15px 70px 15px 10px
    border: none
    border-radius: 10px
    font-size: clamp(0.9rem, 0.2502rem + 1.048vw, 1.2rem);
    outline: none
    appearance: none

  &__mobile-select
    position: relative

  &__mobile-select > &__select
      background-color: v.$black
      color: v.$white
      border: 2px solid v.$white

  &__mobile-select > svg
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)


  &__lang img
    position: absolute
    right: 10px
    top: 40%
    transform: translateY(-90%)
    transform: scale(1.3)

  &__button
    display: flex
    gap: 10px
    font-size: clamp(0.9rem, 0.2502rem + 1.048vw, 1.2rem);
    padding: 12px 18px
    border: 2px solid v.$black
    border-radius: 15px
    transition: all .3s
    text-decoration: none
    color: v.$black

  &__button-img
    position: relative


  &__button-img > svg:nth-child(2)
    position: absolute
    bottom: 2px
    left: 5px

  &__button:hover
    background-color: v.$black
    color: v.$white

  &__button:hover svg path
    stroke: v.$white

  +mixins.respond("xl")
    gap: 10px
    &__logo
      padding-right: 0

  +mixins.respond("lg")
    justify-content: space-between
    &__adapt, &__phone-menu
      display: none
    &__burger-container
      display: block
      position: relative
      z-index: 100

    &__burger-container > span
      display: block
      width: 30px
      height: 2px
      background: v.$black
      animation: burgerBlack .7s
      transition: all .3s

    &__burger-container > span:first-child
      content: ''
      position: absolute
      top: -6px
      left: 0

    &__burger-container > span:last-child
      content: ''
      top: 6px
      left: 0
      position: absolute

    &__burger-container.white > span
      animation: burgerWhite .7s
      background: v.$white

    &__burger-container.white > span:first-child
      top: 0
      transform: rotate(40deg)

    &__burger-container.white > span:last-child
      top: 0
      transform: rotate(-40deg)

    &__burger-container.white > span:nth-child(2)
      transform: rotate(40deg)

    @keyframes burgerWhite
      0%
        background: v.$black
      100%
        background: v.$white

    @keyframes burgerBlack
        0%
          background: v.$white
        100%
          background: v.$black

    &__phone-menu
      height: 100vh
      position: fixed
      left: 0
      top: 0
      width: 100%
      visibility: visible
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      gap: 10px
      z-index: 10
      background: v.$black
      opacity: 0.9
      animation: phone-menu .3s


    &__phone-menu.hide
      visibility: hidden
      opacity: 0
      animation: phone-menu-hide .3s

      @keyframes phone-menu
          0%
            transform: translateX(-100px)
            opacity: 0
            visibility: hidden
          100%
            transform: translateX(0)
            visibility: visible
            opacity: 0.9

      @keyframes phone-menu-hide
        0%
          transform: translateX(0)
          visibility: visible
          opacity: 0.5
        100%
          transform: translateX(-100px)
          opacity: 0
          visibility: hidden

    &__links
      flex: none
      margin-bottom: 30px

    &__button
      border: 2px solid v.$white
      color: v.$white

    &__button svg path
      stroke: v.$white

.menu
  &__list
   display: flex
   gap: 60px
   list-style: none

  &__item > a
    position: relative
    display: flex
    transition: all .3s
    text-decoration: none
    color: v.$black

  &__item > a:hover
    color: v.$orange

  &__item > a:hover::after
    content: ''
    bottom: -20px
    left: 50%
    transform: translate(-50%, -50%)
    position: absolute
    width: 100%
    height: 4px
    padding: 0 50px
    text-align: center
    box-sizing: border-box
    background-color: v.$orange
    border-bottom-left-radius: 30px
    border-bottom-right-radius: 30px

  +mixins.respond("xl")
    &__list
      gap: 5px

  +mixins.respond("lg")
    &__list
      flex-direction: column
    &__item > a
      color: white
      font-size: 1.4rem
    &__item > a:hover
      color: v.$white
    &__item > a:hover::after
      display: none
